<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!-- Servlet Definitions -->
    <servlet>
        <servlet-name>CourseListServlet</servlet-name>
        <servlet-class>example.CourseListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCourseServlet</servlet-name>
        <servlet-class>example.CreateCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuizServlet</servlet-name>
        <servlet-class>example.CreateQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMessageServlet</servlet-name>
        <servlet-class>example.DeleteMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMessageServlet</servlet-name>
        <servlet-class>example.EditMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnrollStudentServlet</servlet-name>
        <servlet-class>example.EnrollStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateQuizFormServlet</servlet-name>
        <servlet-class>example.GenerateQuizFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateReportServlet</servlet-name>
        <servlet-class>example.GenerateReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>example.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>example.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>example.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveMessageServlet</servlet-name>
        <servlet-class>example.SaveMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveNotesServlet</servlet-name>
        <servlet-class>example.SaveNotesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveQuizDataServlet</servlet-name>
        <servlet-class>example.SaveQuizDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowQuizServlet</servlet-name>
        <servlet-class>example.ShowQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowQuizzesServlet</servlet-name>
        <servlet-class>example.ShowQuizzesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitQuizServlet</servlet-name>
        <servlet-class>example.SubmitQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadMaterialServlet</servlet-name>
        <servlet-class>example.UploadMaterialServlet</servlet-class>
    </servlet>
    <!-- Servlet Mappings -->
    <servlet>
        <servlet-name>SaveAssessmentsServlet</servlet-name>
        <servlet-class>example.SaveAssessmentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CourseListServlet</servlet-name>
        <url-pattern>/CourseListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCourseServlet</servlet-name>
        <url-pattern>/CreateCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuizServlet</servlet-name>
        <url-pattern>/CreateQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMessageServlet</servlet-name>
        <url-pattern>/DeleteMessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMessageServlet</servlet-name>
        <url-pattern>/EditMessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnrollStudentServlet</servlet-name>
        <url-pattern>/EnrollStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateQuizFormServlet</servlet-name>
        <url-pattern>/GenerateQuizFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateReportServlet</servlet-name>
        <url-pattern>/GenerateReportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveMessageServlet</servlet-name>
        <url-pattern>/SaveMessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveNotesServlet</servlet-name>
        <url-pattern>/SaveNotesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveQuizDataServlet</servlet-name>
        <url-pattern>/SaveQuizDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowQuizServlet</servlet-name>
        <url-pattern>/ShowQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowQuizzesServlet</servlet-name>
        <url-pattern>/ShowQuizzesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitQuizServlet</servlet-name>
        <url-pattern>/SubmitQuizServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadMaterialServlet</servlet-name>
        <url-pattern>/UploadMaterialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveAssessmentsServlet</servlet-name>
        <url-pattern>/SaveAssessmentsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SaveAssessmentServlet</servlet-name>
        <servlet-class>example.SaveAssessmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveAssessmentServlet</servlet-name>
        <url-pattern>/SaveAssessmentServlet</url-pattern>
    </servlet-mapping>
</web-app>
